
<% @carts.each do |cart| %>
  <div class="">
     
      <div class="">
        <div class="">
          <%if cart.image.attached?%>
            <%=image_tag cart.image, style:"width:100%; height:350px; object-fit:cover; border-top-left-radius: 20px; border-top-right-radius: 20px;"%>
          <%else%>
            Fotoğraf Bulunamadı.
          <%end%>
        </div>
          <div class="">
            <p class=""><%= truncate(cart.title, length: 40)%></p>
          </div>

  </div>  
<% end %>